@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

a:hover {
  color: #3B82F6 !important;
  /* Secondary color for hover */
}

/* Sidebar-specific styles */
.sidebar img {
  background-color: transparent;
  /* Ensure no background on the image itself */
}

.sidebar h2,
.sidebar .text-light-text,
.sidebar .dark\:text-dark-text {
  background-color: transparent;
  /* Ensure no unwanted background on text elements */
}

.sidebar *::selection {
  background-color: transparent;
  /* Reset text selection background */
  color: inherit;
  /* Ensure text color remains consistent */
}

.sidebar *:focus {
  outline: none;
  /* Remove focus outline */
}

/* Slider styles */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3B82F6;
  /* Matching the secondary color */
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #1E3A8A;
  /* Matching the primary color */
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.round {
  border-radius: 34px;
}

.round:before {
  border-radius: 50%;
}

/* Global text selection styles */
::selection {
  background-color: #60A5FA;
  /* Accent color for light mode */
  color: #FFFFFF;
  /* White text on selection */
}

.dark ::selection {
  background-color: #3B82F6;
  /* Secondary color for dark mode */
  color: #1F2937;
  /* Dark text on selection */
}