@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

a:hover {
  color: #ffffff !important;
  /* Change to white on hover */
}

/* Sidebar-specific styles */
.sidebar img {
  background-color: transparent;
  /* Ensure no background on the image itself */
}

.sidebar h2,
.sidebar .text-light-text,
.sidebar .dark\:text-dark-text {
  background-color: transparent;
  /* Ensure no unwanted background on text elements */
}

.sidebar *::selection {
  background-color: transparent;
  /* Reset text selection background */
  color: inherit;
  /* Ensure text color remains consistent */
}

.sidebar *:focus {
  outline: none;
  /* Remove focus outline */
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.round {
  border-radius: 34px;
}

.round:before {
  border-radius: 50%;
}